.HeaderSearch {
    height: 85px;
    background-color: #7DBDC9;
}

.HeaderSearch__container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 64px;
}

.HeaderSearch__searchbar,
.Headersearch__weather {
    padding: 15px 0;
}

.HeaderSearch__searchbar {
    flex: 0 1 638px;
    position: relative;
}

.HeaderSearch__input {
    height: 45px;
    width: 510px;
    padding: 0 15px;
    background-color: #FFFEF4;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

.HeaderSearch__submit {
    display: none;
}

.HeaderSearch__searchbar img {
    position: absolute;
    left: 465px;
    top: 25px;
}

.HeaderSearch__weather {
    flex: 1 1 420px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.HeaderSearch__weather *:not(:last-child) {
    font-size: 1.71rem;
    padding: 0 32px;
}

.weather__icon {
    height: 45px;
    padding-left: 32px;
}

.weather__icon img {
    height: 100%;
    width: 100%;
}